/* ----- ROOT VARIABLES ----- */
:root{
    --red: #bf3636;
    --orange: #d04936;
    --yellow: #ffcc14;
    --green: #5a5a23;
    --blue: #303464;
    --pink: #fe4b7a;
    --purple: #741a60;
    --brown: #40130e;
    --light-gray: #eaeaea;
    --med-gray: #555;
    --dark-gray: #222;
    
    --transparent-red: rgba(75, 21, 21, 0.15);
}

/* ----- BODY STYLES ----- */
body{
    background-color: var(--light-gray);
    font-family: Raleway, sans-serif;
    line-height: 1.3;
}

/* ----- SCREEN READER ONLY CONTENT STYLES ----- */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* ----- HEADER/FOOTER STYLES ----- */
header, footer{
    text-align: center;
    padding: 2rem 1rem;
    border: 1px solid var(--light-gray);
    background-color: white;
    width: calc(100% - 2.5rem);
    max-width: calc(1200px - 2.5rem);
}

/* ----- HEADER STYLES ----- */
header{
    margin: 0 auto 2rem auto;
}

/* ----- HEADING STYLES ----- */
/* H1 */
h1{
    font-size: 2rem;
    font-weight: bold;
}

/* H2 */
h2{
    font-size: 1.35rem;
    font-weight: bold;
    text-align: center;
    margin: 0.25rem;
}

/* ----- MAIN STYLES ----- */
main{
    width: calc(100% - 2rem);
    max-width: calc(1200px - 2rem);
    margin: 0 auto 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
}

/* ----- PARAGRAPH STYLES ----- */
p{
    width: calc(100% - 2rem);
    max-width: 55ch;
    margin: 0 auto;
    padding: 1rem;
    font-size: 1.2rem;
}

/* ----- TEXT ELEMENT STYLES ----- */
strong{
    font-weight: bold;
}

i{
    display: block;
}

/* ----- FORM ELEMENT STYLES ----- */
input, label, select{
    display: block;
    font-size: 1.3rem;
    font-family: Raleway, sans-serif;
}

label{
    font-weight: bold;
}

input[type="text"], input[type="email"]{
    padding: 0.5rem;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #aaa;
    border-radius: 4px;
}

select{
    height: 3rem;
    width: 100%;
    padding: 0.25rem;
    border: 1px solid #aaa;
    border-radius: 4px;
}

button, #canvas4 input[type="submit"], #canvas6 input[type="submit"]{
    display: block;
    margin: 0 auto;
    background-color: var(--blue);
    color: white;
    padding: 1rem;
    font-size: 1.1rem;
    border: none;
    box-shadow: -6px 6px 10px #aaa;
    grid-row: 3/4;
    width: auto;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

legend{
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

/* ----- HOVER STYLES ----- */
button:hover, #canvas6 input[type="submit"]:hover{
    box-shadow: -3px 3px 7px #aaa;
}

/* ----- INVALID STYLES ----- */
input:invalid{
    outline: 1px solid var(--orange);
    outline-offset: 5px;
}

/* ----- FOCUS STYLES ----- */
button:focus, #canvas6 input[type="submit"]:focus-within, #canvas6 input[type="submit"]:focus{
    outline: 3px solid var(--orange);
    outline-offset: 5px;
    border: none;
    box-shadow: none;
}

/* ----- CLASSES USED IN THIS ACTIVITY ----- */
.hidden{
    visibility: hidden;
}

.red{
    background-color: #DD2C00;
}

.orange{
    background-color: #EF6C00;
}

.yellow{
    background-color: #ffcc14;
}

.green{
    background-color: #43A047;
}

.blue{
    background-color: #2962FF;
}

.pink{
    background-color: #F48FB1;
}

.purple{
    background-color: #7C4DFF;
}

.brown{
    background-color: #6D4C41;
}

.gray{
    background-color: #90A4AE;
}

.black{
    background-color: #000;
}

.white{
    background-color: #fff;
}

/* ----- SECTION STYLES ----- */
section{
    width: calc(90% - 1rem);
    min-height: 300px;
    max-width: 350px;
    border: 1px solid var(--light-gray);
    background-color: white;
    box-shadow: -5px 5px 5px #aaa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

/* ----- FOOTER STYLES ----- */
footer{
    margin: 2rem auto 0 auto;
}


/* ---------- STYLES FOR SECTION/CANVAS 4 ---------- */
#canvas4 fieldset{
    width: 275px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 10fr;
    gap: 0.5rem 0;
    align-items: start;
}

#canvas4 legend{
  grid-column: 1/-1;
    border: none;
}

#canvas4 input, #canvas4 label{
    font-weight: normal;
    display: inline-block;
}

#canvas4 input:focus-visible{
    outline: 3px solid var(--orange);
    border: none;
    box-shadow: none;
    outline-offset: 2px;
}

#canvas4 label{
    margin: 0 0.5rem;
}

#canvas4 p, #canvas5 p, #canvas6 p{
    padding: 0;
    font-size: 1rem;
}

#canvas4 p{
    min-height: 100px;
    margin: 2rem 0 0 0;
}

#canvas4 strong{
    display: block;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}


/* ---------- STYLES FOR SECTION/CANVAS 5 ---------- */
#canvas5 label{
    margin: 0.5rem 0;
}

#canvas5 select{
    height: 3rem; 
    width: 100%;
}

#canvas5 select:focus-within, #canvas5 select:focus{
    outline: 3px solid var(--orange);
    outline-offset: 5px;
    box-shadow: none;
}

#canvas5 p{
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid #555;
    border-radius: 4px;
}


/* ---------- STYLES FOR SECTION/CANVAS 6 ---------- */
#canvas6 form{
    margin: 1rem 0;
}

#canvas6 p{
    font-size: 1.1rem;
    min-height: 100px;
}

#canvas6 strong:first-child{
    display: block;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

#canvas6 label{
    display: block;
    margin: 0.5rem 0;
}

#fullName.input-error, #myEmail.input-error{
    border-color: var(--orange);
    background-color: var(--transparent-red);
}

#canvas6 input[type="submit"]{
    display: block;
    margin: 1.5rem auto 0 auto;
}

#canvas6 input:focus, #canvas6 input:focus-within, #canvas9 input:focus, #canvas9 input:focus-within{
    outline: 3px solid var(--orange);
    outline-offset: 5px;
    border: 1px solid #ccc;
    box-shadow: none;
}

#canvas6 span{
    display: block;
    color: var(--red);
    height: 1rem;
    margin-top: 0.45rem;
}


/* ---------- STYLES FOR SECTION/CANVAS 7 ---------- */
#canvas7 div{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: -3px 3px 7px #aaa;
    margin: 1rem auto;
}


/* ---------- STYLES FOR SECTION/CANVAS 8 ---------- */
/* THE DIV CONTAINERS WITH BORDERS IN THE LAST TWO SECTIONS */
#canvas8 div, #canvas9 div{
    width: 250px;
    height: 250px;
    margin: 1rem auto;
    border: 1px solid #aaa;
    position: relative;
}

/* THE BUTTON AROUND OUR EMOJI - BUTTONS ARE INTERACTIVE AND CAN HAVE FOCUS */
#move-button{
    display: block;
    background-color: white; 
    padding: 0;
    box-shadow: none;
    border-radius: 50%;
    margin: 0.25rem;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

/* THE EMOJI INSIDE OF OUR BUTTON */
#move-button svg{
    width: 50px;
    height: 50px;
    fill: var(--blue);
}

/* WHEN OUR EMOJI BUTTON HAS FOCUS */
#move-button:focus{
    outline-offset: 1px;
}


/* ---------- STYLES FOR SECTION/CANVAS 9 ---------- */
/* THE LABEL FOR THE INPUT IN THIS SECTION */
#canvas9 label{
    margin: 1rem 0;
}

/* THE INPUT IN THIS SECTION */
#canvas9 input{
    width: calc(250px - 1rem);
}

/* THE CONTAINER DIV WE ADD SQUARES TO */
#canvas9 div{
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

/* THE SMALL DIVS ADDED BY INPUT */
#canvas9 div > div{
    width: 25px;
    height: 25px;
    margin: 0;
    border: none;
}

/* ---------- STYLES FOR SECTION/CANVAS 10 ---------- */
/* THE SECTION STYLES */
#canvas10{
    grid-column: 1/-1;
    width: 100%;
    max-width: calc(100% - 3rem); 
}

/* THE DIV CHILD STYLES */
#canvas10 > div{
    width: 100%;
    height: 100%;
    border: 1px solid #aaa;
    margin-top: 1rem;
    position: relative;
    cursor: none;
}

#cursor{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

#cursor img{
    display: block;
    width: 50px;
    height: 50px;
}